/* src/components/Header/styles.module.css */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: white;
}

.announcement {
  background: #000;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.announcement a {
  color: #12181f;
  text-decoration: underline;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0a1f44;
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navLinks a {
  color: #12181f;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navLinks a:hover {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 200px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 100;
}

.dropdown a {
  color: #666;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid #eee;
}

.navItem {
  position: relative;
  display: inline-block;
}
.dropdownIcon {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.7rem;
  transition: transform 0.2s ease;
}

/* src/components/Header/styles.module.css */
.navbar {
  position: fixed; /* Fixes header at top */
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

.announcement {
  background: black;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.techWord {
  /* color: #12181f;  */
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navLinks {
  display: flex;
  gap: 2rem;
}
